<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <title>Pixabay Image Search Abstraction Layer v.1</title>

  <style>
    html {
      font-family: verdana;
    }

    code {
      background: #ccc;
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 5px;
      border-radius: 3px;
    }

    li {
      margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <h1>Welcome to Pixabay Image Search Abstraction Layer</h1>

  <h2>Sample searches:</h2>

  <script>
    let container = document.querySelector('body');

    function writeTitle(title) {
      container.innerHTML += `<h2>--- ${title} ---</h2>`;
    }

    function writeData(data) {
      container.innerHTML += `<p>${data}</p>`;
    }

    const domainName = 'https://img-seek.glitch.me/api/imagesearch/';

    [
      'tech',
      'landscape?offset=3',
      'puppy',
    ].forEach(sample => {
      writeData(`<a href='${domainName}${sample}' target='_blank'>${domainName}${sample}</a>`);
    });
  </script>
</body>

</html>